<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
      <img src="{{ site.url }}{{ site.baseurl }}/images/QPL_logo.png" alt="QPL Logo" class="navbar-logo">
      Quantum Photonics Laboratory @ Heriot-Watt University
    </a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
		<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Vacancies <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{{ site.url }}{{ site.baseurl }}/vacancies/phd">PhD Positions</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/vacancies/postdoc">Postdoc Positions</a></li>
  </ul>
</li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Research <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{{ site.url }}{{ site.baseurl }}/research/quantum-materials">Quantum Materials</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/research/quantum-sensing">Quantum Sensing</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/research/quantum-communication">Quantum Communication</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/research/learning-quantum-systems">Learning Quantum Systems</a></li>
  </ul>
</li>
		<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Facilities <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{{ site.url }}{{ site.baseurl }}/facilities/cleanroom_2d_fab">2D & Nanofabrication Facility</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/facilities/nanoscale_quantum_sensing">Nanoscale Quantum Sensing</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/facilities/setups">Optical Setups</a></li>
  </ul>
</li>
	<li><a href="{{ site.url }}{{ site.baseurl }}/pictures">Pictures</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}/allnews">News</a></li>
	  </ul>
	</div>
  </div>
</div>
